@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

.border {
  border: 2px transparent solid;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
}

/*=================LOADER====================================================*/
body {
  position: relative;
}

.loaded {
  display: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 164px;
  height: 164px;
  position: absolute;
  margin-top: 20%;
  margin-left: 45%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 146px;
  height: 146px;
  border-radius: 50%;
  border: 18px solid #4b2c97;
  border-color: #4b2c97 transparent #4b2c97 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}